.card{
    border-color: none;
    border-style: none;
}
.card .card-img-top{
border-radius: 1rem;
}
.card .card-img-overlay .card-title {
    
    vertical-align: bottom;
    text-align: left;
}
.card .card-img-overlay{
    position: relative;
    bottom: 29;
    height: 20px;
    width: 30%;
    background-color: aqua;
}

nav{
    height: 5%;
}