.card{
    border-color: none;
    border-style: none;
}
.card .card-img-top{
border-radius: 2rem;
}
.car .card-img-overlay card {
    vertical-align: bottom;
    text-align: left;
}

nav{
    height: 5%;
}