.card{
    border-color: none;
    border-style: none;
}
.card .card-img-top{
border-radius: 1rem;
}
.card .card-img-overlay .card-title {
    bottom:10%;
    vertical-align: bottom;
    text-align: left;
}
.card .card-img-overlay{
    display: flex;
    top: 90%;
    bottom: 5%;
    left: 20px;
    height: 20px;
    width: 30%;
    background-color: aqua;
}

nav{
    height: 5%;
}