.card{
    border-color: none;
    border-style: none;
}
.card .card-img-top{
border-radius: 1rem;
}
.card .card-img-overlay .card-title {
    position: absolute;
    bottom: 10px;
    vertical-align: bottom;
    text-align: left;
}
.card .card-img-overlay{
    height: ;
    background-color: aqua;
}

nav{
    height: 5%;
}